<div id="cards" class="ui link cards" style="text-align: center;position: relative;max-width: 1000px;justify-content: center;margin: auto;">
    <template id="template-card">
      <div class="card" style="max-width: 200px;">
        <div class="image">
          <img id="card-img" src="https://cdn3.iconfinder.com/data/icons/computing-technology/75/Tablet-RAD-512.png" alt="primeraImagen"/>
        </div>
        <div class="content">
          <div id="card-name" class="header">Tablet</div>
          <div id="card-codigo" class="meta"><a> Codigo: 85621348</a></div>
          <div id="card-description" class="description"> Esta es una tablet muy genial </div>
        </div>
        <div class="extra content">
          <span id="card-price" class="left floated"><b>Precio: $1499</b></span>
          <span id="card-stock" class="right floated"> Stock: 42 </span>
        </div>
        <div id="card-action-buy" class="button btn-dark">
          <i class="add icon"></i>
          Comprar
        </div>
      </div>
    </template>
</div> 