<div class="container">
    <h1><i class="cart arrow down icon"></i>Mi Carrito</h1>
    <hr>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Item</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Timestamp</th>
          <th scope="col">Descripcion</th>
          <th scope="col">Stock</th>
          <th scope="col">Agregar productos</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody id="items"></tbody>
      <tfoot>
        <tr id="footer">
          <th style="text-align: center; color: blue;"scope="row" colspan="8">Carrito vacío - comience a comprar!</th>
        </tr>
      </tfoot>
    </table>
    
    <div class="row" id="items"></div>
  </div>

  <template id="template-carrito">
    <tr>
      <th scope="row">id</th>
      <td>Café</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>
          <button class="btn btn-info btn-sm">
              +
          </button>
          <button class="btn btn-danger btn-sm">
              -
          </button>
      </td>
      <td>$ <span>500</span></td>
      <td></td>
    </tr>
  </template>

  <template id="template-footer">
      <th scope="row" colspan="2">Total productos</th>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>10</td>
      <td>
          <button class="btn btn-danger btn-sm" id="vaciar-carrito">
              vaciar todo
          </button>
      </td>
      <td class="font-weight-bold">$ <span>5000</span></td>
      <td>
      <button class="btn btn-buy btn-danger btn-sm" id="buy-carrito">
        Comprar
      </button>
      </td>
  </template>

