<div class="fondo">
    <div class="ui secondary pointing menu">
      <a href="./index"class="active item" style="color: white;"> Home </a>
      <a href="./loadproduct" class="item" style="color: white;"> Productos </a>
      <a href="./carrito" class="item" style="color: white;"> Carritos </a>
      <div class="right menu">
        <a href="./login" class="ui item" style="color: white;"> Login </a>
        <a href="./signup" class="ui item" style="color: white;"> Signup </a>
      </div>
    </div>
    </div>